
:root {
	/* responsive margins / paddings */
	--margin-sm: 1rem;
	--margin-md: 2rem;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1512;
	--interpolate-diff: calc(var(--max-font-size) * var(--base-font-size) - var(--min-font-size) * var(--base-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * var(--base-font-size) * 1px), calc((var(--min-font-size) * var(--base-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * var(--base-font-size) * 1px));
	--base-font-size: 16;
}

html {
	height: 100%;
	font-size: 16px;
}
